body {
  margin: 20px;
}
input {
  font-size: 16px;
  height: 30px;
  margin-bottom: 10px;
}
.someClass {
  width: 200px;
  background-color: lightgreen;
}
.anotherClass {
  height: 30px;
  line-height: 30px;
  width: 300px;
}
